

.header {
  background: linear-gradient(
    180deg,
    #24125e,
    #140b3d
    );
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  min-height: 120px;
  
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slogan {
  color: #ffd84d;
  font-size: 0.85rem;
  letter-spacing: 1px;
}  

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    min-height: auto;    
  }

  .logo {
    font-size: 1.5rem;
  
  }
}

