

.formSection {
  padding: 3rem 1rem;
  text-align: center;
}

.form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input,
.form textarea {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.form textarea {
  min-height: 120px;
  resize: none;
}

.form button {
  background-color: #0e0863;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background-color: #F4C300;
  color: black;
}